{% extends 'base.html.twig' %}
{% block title %}{{ blogpost.postTitle }}{% endblock %}
{% block body %}
	<div class="container">
		<div class="col-md-14">
		    {% include 'blogpostpartial.html.twig' %}
		    
		    <p><a href="{{ app.url_generator.generate('archive',{year: blogpost.postDate|date("Y"), month: blogpost.postDate|date("F")}) }}">Back to {{blogpost.postDate|date("F")}} archive</a></p>
		</div>
	</div>
{% endblock %}