{% extends 'base.html.twig' %}
{% block title %}{{ blogpost.postTitle }}{% endblock %}
{% block body %}
	<div class="container">
		<div class="col-md-14">
		    {% include 'blogpostpartial.html.twig' %}
		    
		    <p><a href="{{ app.url_generator.generate('index') }}">Back to homepage</a></p>
		</div>
	</div>
{% endblock %}